<section class="page_404">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
          <div class="four_zero_four_bg">
            <h1 class="text-center">404</h1>

          </div>

          <div class="contant_box_404 text-center">
            <h3 class="h2">
              Not Found
            </h3>
            <a href="/" class="link_404" style="text-decoration: none;">Quay về trang chủ</a>
          </div>
      </div>
    </div>
  </div>
</section>